/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ...Mobile Style... */

@media screen and (max-width: 760px) { 
    .container {
        max-width: 1200px;
        background-color: #222;
        height: 500px;
        display: block;
}
    }

/* ...Font-size for web...*/
body {
    font-family: 'Open Sans' , sans-serif;
}
p {
    font-size: 14px;
    font-family: 'Open Sans' , sans-serif;
    margin-left: 15px;
}

h1 {
    position: relative;
    margin: auto;
    margin-top: 10px;
    font-size: 80px;
    font-family: 'Open Sans' , sans-serif;
    font-weight: bold;
}
h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-left: 15px;
}
h3 {
    font-size: 30px;
    font-family: 'Open Sans' , sans-serif;
    font-weight: bold;
    margin-left: 15px;
}
h4 {
    margin-left: 15px;
    margin-top: -30px;
}

/* ...navigation...*/
ul li {
    list-style: none;
    text-align: center;
    padding-bottom: 25px;
    font-size: 16px;
    font-family: 'Open Sans' , sans-serif;
}
.home1 {
color: black;
}
ul li a {
    text-decoration: none;
    color: #c78c06;
}

/* ...The search bar...*/
#search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 90%;
    height: 28px;
}
.im-magnifier {
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    float: right;
    width: 30px;
}

/* ...Top of the page...*/
.container_top {
    background-color: #c78c06;
    margin-bottom: 500px;
    margin-left: 10px;
    margin-right: 10px;
    height: 150px;
}
.img2 {
    margin-top: -230px;
    width: 100%;
    height: 580px;
}
.home-info {
    width: 97%;
    height: 420px;
    background-color: #222;
    position: relative;
    margin: auto;
    padding: 10px;
    padding-top: 10px;
    bottom: 510px;
    color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.267);
    background-color:rgba(0, 0, 0, 0.534) ;
    display: block;
}
.container_aboutus {
    background-color: #ffe6ac;
    height: 690px;
    margin-top: -480px;
}

.img3 {
    width: 95%;
    margin-top: 50px;
    margin-left: 15px;
}

/* ...Our services part...*/
.container_digital {
    background-color: #ffe6ac;
    width: 95%;
    height: 720px;
    margin-left: 17px;
    margin-top: -25px
}
.img4 {
    width: 100%;
}
.container_marketing {
    background-color: #ffe6ac;
    width: 95%;
    height: 720px;
    margin-left: 17px;
    margin-top: 15px;
}
.img5 {
    width: 100%;
}
.container_video {
    background-color: #ffe6ac;
    width: 95%;
    height: 720px;
    margin-left: 17px;
    margin-top: 15px;
}

.img6 {
    width: 100%;
}

.container_web {
    background-color: #ffe6ac;
    width: 95%;
    height: 720px;
    margin-left: 17px;
    margin-top: 15px;
}

.img7 {
    width: 100%;
}

.container_print {
    background-color: #ffe6ac;
    width: 95%;
    height: 720px;
    margin-left: 17px;
    margin-top: 15px; 
}

.img8 {
    width: 100%;   
}

/* ...Our vision part...*/
.img9 {
    width: 100%;
    height: 280px;
    margin-top: 10px;
    margin-top: 20px;
}
.vision {
    margin-top: -280px;
    color: white;
    margin-left: 15px;
}

/* ...Our team part...*/
.our-team {
    margin-top: -80px;
}
.team {
    margin-top: 120px;
}
.container_john {
    background-color: #ffe6ac;
    width: 95%;
    height: 680px;
    margin-left: 17px;
    margin-top: -20px; 
}
.img10 {
    width: 100%;
}
.container_bob {
    background-color: #ffe6ac;
    width: 95%;
    height: 680px;
    margin-left: 17px;
    margin-top: 15px; 
}
.img11 {
    width: 100%;
} 
.line {
    border-bottom: 2px solid #c78c06;
    width: 95%;
}

/* ...Contact part...*/
div input,textarea {
    width: 100%;
    margin-top: 10px;
}
div textarea {
    height: 120px;
}
.send {
    background-color: #222;
    color: #c78c06;
    margin-top: 10px;
    width: 80px;
    height: 35px;
    border-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.contact-us {
    margin-left: 40px;
    margin-right: 25px;
}
.contact {
    margin-left: -20px;
}
.input {
    margin-bottom: 5px
}
.text-sendus {
    margin-top: -25px;
    margin-left: -2px;
}
#text-contact {
    margin-left: -1px;
}

/* ...Hour of operation...*/
table {
    border-collapse: collapse;
    width: 95%;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 15px;
}


table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid black;
    padding: 12px;
}

table th:nth-child(n) {
    background-color:#ffe6ac;
}

/* ...Location part...*/
.location1 {
    width: 95%;
    margin-left: 15px;
    margin-top: -20px;
}

/* ...Footer...*/
.site-footer{
    background-color: #222;
    text-decoration: none;
    color: #c78c06;
    height: 60px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
}
footer {
    margin-top: 10px;
}

/* ...Click button...*/ 
.connect {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    border: 1px solid #c78c06;
    background-color:#c78c06 ;
    padding: 25px;
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Open Sans' , sans-serif;
}
.connect1 , .connect2{
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid #222;
    background-color: #222 ;
    padding: 25px;
    margin-left: 15px;
    font-size: 24px;
    font-family: 'Open Sans' , sans-serif;
}
.connect3 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: auto;
    padding: 28px;
    padding-top: 28px;
    color: white;
    border: 0.5px solid #c78c06;
    background-color:rgba(0, 0, 0, 0.534);
    font-size: 24px;
    font-family: 'Open Sans' , sans-serif;
    margin-left: 15px;
}

/*.....................................................................................*/

/* ...Desktop Style...*/

@media screen and (min-width: 760px) {
    .container_top {
        width: 100%;
        background-color: #222;
        height: 150px;
        margin-left: 0%;  
}

/* ...Font-size for web...*/ 
body {
    font-family: 'Open Sans' , sans-serif;
}
p {
    margin-left: 10px;
}
h1 {
    font-size: 85px;
}
h2 {
    font-size: 54px;
    font-weight: bold;
}
h3 {
    font-size: 36px;
    font-weight: bold;
    margin-left: 7px;
}
h4 {
    margin-left: 8px;
}

/* ...navigation...*/ 
ul li {
    list-style: none;
    display: inline;
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    margin-left: 40px; 
}
ul li a {
   margin-left: 20px;
   text-align: center;
}
.home1 {
    background-color: #c78c06;
}

/* ...The search bar...*/ 
.search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* ...Top of the page...*/ 
.img1 {
    margin-top: 25px;
    margin-left: 5em;
    float: left;
}
.img2 {
    margin-top: -500px;
}
.home-info {
    width: 81%;
}
.img3 {
    width: 40%;
    float: left;
    margin-left: 120px;
    margin-top: 10px;
    margin-right: 15px;
}
.container_aboutus {
   height: 280px;
   margin-top: -492px;
}
.text-aboutus {
    margin-top: -10px;
    padding-right: 130px;
}
.text-aboutus1 {
    margin-top: 20px;
    padding-right: 120px;
}

/* ...Our services part...*/ 

.container_digital {
    background-color: #ffe6ac;
    width: 80%;
    height: 620px;
    margin-top: 30px;
    margin-left: 120px;
}

.img4 {
    width: 100%;
}

.container_marketing {
    background-color: #ffe6ac;
    width: 80%;
    height: 620px;
    margin-top: 30px;
}

.img5 {
    width: 100%;
}

.container_video {
    background-color: #ffe6ac;
    width: 32%;
    height: 550px;
    margin-left: 120px;
}

.img6 {
    width: 100%;
}

.container_web {
    background-color: #ffe6ac;
    width: 39%;
    height: 550px;
    margin-left: 50px;
}

.img7 {
    width: 100%;
    height: 229px;
}

.container_print {
    background-color: #ffe6ac;
    width: 80%;
    height: 550px;
    margin-left: -27px;
}

.img8 {
    width: 100%;   
}
/* use CSS Grid to edit the container */
.services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 1fr 1fr;
}
.marketing {
    grid-row: 2;
    grid-column: 4 / 7;
}
.our-servises {
    height: auto;
    width: auto;
    grid-row: 2;
    grid-column: 1 / 4;
}
.video {
    grid-row: 3;
    grid-column: 1 / 6;
}
.web-development {
    grid-row: 3;
    grid-column: 3 / 9;
}
.print {
    grid-row: 3;
    grid-column: 5 / 9;
}
.services h2{
    grid-row: 1;
    grid-column: 1 / 7;
    margin-top: 10px;
    margin-left: 110px;
}

/* ...Our vision part...*/ 
.vision {
    margin-left: 110px;
}
.img9 {
    margin-top: -75px;
}

/* ...Our team part...*/ 
.container_john {
    display: flex;
    height: 400px;
    width: 83%;
    margin-left: 120px;
}
.img10 {
    width: 50%;
}
.container_bob {
    width: 83%;
    height: 400px;
    margin-top: -1px;
    margin-left: 120px;
    /* Use Css Flexbox for etaggered imgages */
    display: flex;
    flex-direction: row-reverse;
}
.img11 {
    width: 50%;
}
.team {
    margin-left: 115px;
}

/* ...Contact part...*/ 
.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1px 1fr 240px;
}
.contact-us {
    grid-row: 2;
    grid-column: 1 / 2;
}

/* ...Location part...*/
.location {
    grid-row: 2;
    grid-column: 2/4;
    width: 87%;
    margin-top: 100px;
}

/* ...Hour of operation...*/ 
.hours-of-operation{
    width: 88%;
    margin-left: 110px;
}
.hours-of-operation {
    grid-row: 3;
    grid-column: 1/3;
}
.contact-us {
    margin-left: 140px;
    margin-right: 5px;
    margin-top: -5px;
}

/* ...Footer...*/ 
.text-footer {
    margin-left: 110px;
}
/* ...Click button...*/ 
.connect1 {
    width: 86%;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
    margin-top: -7px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 24px;
}
.connect2 {
    width: 77%;
    margin-top: -7px;
}