@media screen and (min-width: 760px) {
    .container_top {
        width: 100%;
        background-color: #222;
        height: 150px;
        margin-left: 0%;  
}
body {
    font-family: 'Open Sans' , sans-serif;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 54px;
    font-weight: bold;
}

h3 {
    font-size: 36px;
    font-weight: bold;
}

 nav ul li {
    list-style: none;
    display: inline;
    margin-left: 40px; 
}
ul li a {
   margin-left: 20px;
   text-align: center;
}
.search {
    width: 20%;
    float:right
}
.img1 {
    margin-top: 25px;
    margin-left: 5em;
    float: left;
}

.img2 {
    margin-top: -500px;
}
.search {
    display: inline-block;
}

.home-info {
    width: 81%;
}
.img3 {
    width: 40%;
    float: left;
    margin-left: 120px;
    margin-top: 10px;
    margin-right: 15px;
}

.container_aboutus {
   height: 280px;
   margin-top: -492px;
}
.text-aboutus {
    margin-top: -10px;
    padding-right: 130px;
}
.text-aboutus1 {
    margin-top: 20px;
    padding-right: 120px;
}

.container_digital {
    background-color: #ffe6ac;
    width: 45%;
    height: 650px;
}

.img4 {
    width: 100%;
}

.container_marketing {
    background-color: #ffe6ac;
    width: 45%;
    height: 650px;
}

.img5 {
    width: 100%;
}

.container_video {
    background-color: #ffe6ac;
    width: 30%;
    height: 550px;
}

.img6 {
    width: 100%;
}

.container_web {
    background-color: #ffe6ac;
    width: 30%;
    height: 550px;
}

.img7 {
    width: 100%;
}

.container_print {
    background-color: #ffe6ac;
    width: 30%;
    height: 550px;
}

.img8 {
    width: 100%;   
}

.container_marketing .container_digital{
    display: grid;
    grid-template-rows: 1fr;
}