header, footer {
    background-color:skyblue;   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.site-title {
    color:royalblue
}
#my-image {
    box-shadow: 0 2px 1px black;
}

a:link {
    border: 2px solid red;
    background-color: yellowgreen;
    text-decoration: none;
}

a:hover {
    color:white;    
}

li:nth-child(odd) {
    background-color: cadetblue;
}

ul{
    list-style-type: square;
}