/* style background and font */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

/* Create a working box in middle of the web page */
.container{
    background: #DFF2EF;
    width: 80vw;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }

/* working with size and move the top picture */  
.img1 {
    width: 102%;
    height: 300px;
    margin-top: -45px;
    margin-left: -10px;
}
  
h1{
    position: relative;
    margin: auto;
    color: white;
    font-size: 40px;
    text-align: center; /* center the heading */
    top: 200px; /* move down  heading */
}


img{
    width: 220px;
    float: left;
    padding-right: 7px;
    padding-bottom: 15px;
  }


p{
    padding-left: 2px;
    padding-right: 60px;
}


nav ul {
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2px;
    margin-top: 5px;
    
}

ul li {
   margin-left: -20px;
   /* left margin for Starfish Facts */
}

nav ul li {
    text-transform: uppercase;
    display: inline;
    width: 30%;
    border-right: 1px solid grey;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 5px;
    padding-bottom: 5px;
}


#contact {
    border: none;
}


.contact {
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
}

.radio {
    display: inline;
}

footer {
    text-align: right;
   background: #DFF2EF;
   width: 80vw;
}


div input,textarea {
    width: 100%;

}

.radio-button {
    width:3%;
}
