.box {
    width: 200px;
    background-color: blue;
    color: #fff;
 /* introduce box model */
    padding: 10px; /* 20px total */
    border: 5px solid #900; /* 10px total */
    margin: 10px; /* 20px total */
    
    /* float the boxes beside each other */
float: left;
}
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }
  .parent {
      border: 2px solid red
  }

nav ul li {
    display: inline;
    margin: 10px;
    
}
.clear {
    clear: left;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.stage {
    height: 800px;
    background-color: #aaa;
}
.prop {
    height: 100px;
    width: 100px;
    background-color: cyan;
    /* add posittioning values */
    /* position: relative 
    top: 100px;
    left: 10px; */

    /* position: absolute;
    top: 0;
    left: 450px; */

    /* position: absolute;
    top: -50px;
    left: 200px; */
}
.prop {
    position: fixed;
}
    